/* -======================== */
.main-dashboard{
    flex: 1;
    background-color: #F4F5F9;
    height: 100%;
    position: relative;
    overflow-y: auto;
}
.header-dashboard{
    background: rgb(0,63,107);
    background: linear-gradient(270deg, rgba(0,63,107,1) 0%, rgba(0,13,22,1) 100%);
    /* background: rgb(255,0,0);
    background: linear-gradient(360deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%); */
    height: 160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    width: calc(100%);
}
.inner-header{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
}
.inner-header h1{
    margin-top: -80px;
    font-size: 20px;
    color: #FFF;
}
.inner-header a{
    margin-top: -80px;
    cursor: pointer;
    text-decoration: none;
    color: #20b8ff;
}
.summary-container{
    width: 90%;
    height: 200px;
    margin: 80px auto 0 auto;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.summary-card{
    height: 100%;
    width: 25%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    position: relative;
    overflow: hidden;
}
.summary-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.summary-card:nth-child(1) > .summary-footer{
    background-color: #337AB7;
}
.summary-card:nth-child(2) > .summary-footer{
    background-color: #5CB85C;
}
.summary-card:nth-child(3) > .summary-footer{
    background-color: #F0AD4E;
}
.summary-card:nth-child(4) > .summary-footer{
    background-color: #D9534F;
}

.temp-container{
    width: 90%;
    height: 350px;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.temp-container h4{
    text-align: center;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.temp-container section{
    margin: 20px auto 0 auto;
    width: 95%;
}
.left-temp{
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
}
.right-temp{
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
}


.umid-container{
    width: 90%;
    height: 350px;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.left-umid{
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
}
.right-umid{
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
}
.umid-container h4{
    text-align: center;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.umid-container section{
    margin: 20px auto 0 auto;
    width: 95%;
}
