
/* card 1 */

.summary-card:nth-child(1) > .summary-footer{
    background-color: #ff4335;
}
.summary-card:nth-child(1) > .summary-main{
    background-color: #ff7065;
    color: #fff;
}
.summary-card:nth-child(1) > .summary-main > span{
    font-weight: bolder;
}
.summary-card:nth-child(1) > .summary-main h1{
    font-size: 40px;
    margin-top: 15px;
}


/* card 2 */
.summary-card:nth-child(2) > .summary-footer{
    background-color: #bf1fff;
}
.summary-card:nth-child(2) > .summary-main{
    background-color: #d678fc;
    color: #fff;
}
.summary-card:nth-child(2) > .summary-main > span{
    font-weight: bolder;
}
.summary-card:nth-child(2) > .summary-main h1{
    font-size: 40px;
    margin-top: 15px;
}

/* card 3 */
.summary-card:nth-child(3) > .summary-footer{
    background-color: #1d7fff;
}
.summary-card:nth-child(3) > .summary-main{
    background-color: hsl(214, 100%, 70%);
    color: #ffffff;
}
.summary-card:nth-child(3) > .summary-main > span{
    font-weight: bolder;
}
.summary-card:nth-child(3) > .summary-main h1{
    font-size: 40px;
    margin-top: 15px;
}
/* card 4 */
.summary-card:nth-child(4) > .summary-footer{
    background-color: #5CB85C;
}
.summary-card:nth-child(4) > .summary-main{
    background-color: #5cb85cad;
    color: #FFF;
}
.summary-card:nth-child(4) > .summary-main > span{
    font-weight: bolder;
}
.summary-card:nth-child(4) > .summary-main h1{
    font-size: 40px;
    margin-top: 15px;
}
.summary-main{
    height: calc(100% - 50px);
    padding: 10px;
}

/* grafico de desempenho total*/
.desempenho-container{
    width: 90%;
    height: 410px;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.desempenho-container h4{
    text-align: center;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.desempenho-container section{
    margin: 20px auto 0 auto;
    width: 95%;
}
.desempenho-grafico{
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
}

/* Gráfico das fazendas com problemas */

.problemas-container{
    width: auto;
    height: auto;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.problemas-container h4{
    text-align: center;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.problemas-container section{
    margin: 20px auto 0 auto;
    width: 55%;
}

.problemas-grafico{
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
}

